
source/bin/Debug/net46/FastDeepCloner.dll
source/bin/Debug/net46/Newtonsoft.Json.dll
source/bin/Debug/net46/Rest.API.Translator.dll
source/bin/Debug/net46/Rest.API.Translator.pdb
source/bin/Debug/netcoreapp2.0/Rest.API.Translator.deps.json
source/bin/Debug/netcoreapp2.0/Rest.API.Translator.dll
source/bin/Debug/netcoreapp2.0/Rest.API.Translator.pdb
source/bin/Debug/netstandard2.0/Rest.API.Translator.deps.json
source/bin/Debug/netstandard2.0/Rest.API.Translator.dll
source/bin/Debug/netstandard2.0/Rest.API.Translator.pdb
source/obj/Debug/net451/Rest.API.Translator.AssemblyInfo.cs
source/obj/Debug/net451/Rest.API.Translator.AssemblyInfoInputs.cache
source/obj/Debug/net451/Rest.API.Translator.assets.cache
source/obj/Debug/net451/Rest.API.Translator.csproj.CoreCompileInputs.cache
source/obj/Debug/net451/Rest.API.Translator.csprojAssemblyReference.cache
source/obj/Debug/net46/Rest.API.Translator.AssemblyInfo.cs
source/obj/Debug/net46/Rest.API.Translator.AssemblyInfoInputs.cache
source/obj/Debug/net46/Rest.API.Translator.assets.cache
source/obj/Debug/net46/Rest.API.Translator.csproj.CopyComplete
source/obj/Debug/net46/Rest.API.Translator.csproj.CoreCompileInputs.cache
source/obj/Debug/net46/Rest.API.Translator.csproj.FileListAbsolute.txt
source/obj/Debug/net46/Rest.API.Translator.csprojAssemblyReference.cache
source/obj/Debug/net46/Rest.API.Translator.dll
source/obj/Debug/net46/Rest.API.Translator.pdb
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.AssemblyInfo.cs
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.AssemblyInfoInputs.cache
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.assets.cache
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.csproj.CoreCompileInputs.cache
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.csproj.FileListAbsolute.txt
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.csprojAssemblyReference.cache
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.dll
source/obj/Debug/netcoreapp2.0/Rest.API.Translator.pdb
source/obj/Debug/netstandard1.0/Rest.API.Translator.AssemblyInfo.cs
source/obj/Debug/netstandard1.0/Rest.API.Translator.AssemblyInfoInputs.cache
source/obj/Debug/netstandard1.0/Rest.API.Translator.assets.cache
source/obj/Debug/netstandard1.0/Rest.API.Translator.csproj.CoreCompileInputs.cache
source/obj/Debug/netstandard1.0/Rest.API.Translator.csprojAssemblyReference.cache
source/obj/Debug/netstandard1.3/Rest.API.Translator.AssemblyInfo.cs
source/obj/Debug/netstandard1.3/Rest.API.Translator.AssemblyInfoInputs.cache
source/obj/Debug/netstandard1.3/Rest.API.Translator.assets.cache
/solution/.vs/Rest.API.Translator
/source/bin
/source/obj
/source/.vs/Rest.API.Translator/v16/Server/sqlite3/db.lock
